<div class="cab-content">
  <ng-component
    ><div class="cab-title mt-5 mt-lg-0">Account settings</div>
    <account-settings-personal
      ><form
        novalidate="true"
        autocomplete="off"
        class="ng-untouched ng-pristine ng-valid"
      >
        <fieldset>
          <div class="cab-box mb">
            <img title="onewiex" src="assets/img/cab-set-1.svg" alt="onewiex" />
            <h3>Account settings</h3>
            <account-settings-avatar
              ><div class="cab-set__ava">
                <h3>Change picture</h3>
                <div class="cab-set__ava-box">
                  <div class="cab-set__ava-img"></div>
                  <p>
                    You can change your profile picture of your account by
                    clicking the button below "Change picture"
                  </p>
                  <label><div class="m-btn white">Change Picture</div></label>
                </div>
                <input
                  type="file"
                  class="d-none"
                  accept="image/png, image/jpg, image/jpeg"
                /></div
            ></account-settings-avatar>
            <div class="row">
              <div class="col-md-6">
                <div class="m-input__title">First name</div>
                <label class="m-input">
                  <input
                    id="account-fullname"
                    type="text"
                    formcontrolname="first_name"
                    maxlength="32"
                    inputvalidation=""
                    placeholder="Enter your first name"
                    class="ng-untouched ng-pristine ng-valid"
                  />
                </label>
              </div>
              <div class="col-md-6">
                <div class="m-input__title">Last name</div>
                <label class="m-input">
                  <input
                    type="text"
                    formcontrolname="last_name"
                    maxlength="32"
                    inputvalidation=""
                    placeholder="Enter your last name"
                    class="ng-untouched ng-pristine ng-valid"
                  />
                </label>
              </div>
              <div class="col-md-6">
                <div class="m-input__title">Your username</div>
                <label class="m-input disabled">
                  <input
                    id="account-username"
                    type="text"
                    formcontrolname="username"
                    readonly=""
                    class="ng-untouched ng-pristine ng-valid"
                  />
                </label>
              </div>
              <div class="col-md-6">
                <div class="m-input__title">E-mail address</div>
                <label class="m-input disabled">
                  <input
                    id="account-email"
                    type="text"
                    formcontrolname="email"
                    readonly=""
                    class="ng-untouched ng-pristine ng-valid"
                /></label>
              </div>
              <div class="col-md-6">
                <div class="m-input__title">Enter phone number</div>
                <label class="m-input"
                  ><input
                    id="account-phone"
                    type="text"
                    formcontrolname="phone"
                    maxlength="20"
                    inputvalidation=""
                    placeholder="Enter your phone number"
                    class="ng-untouched ng-pristine ng-valid"
                /></label>
              </div>
              <div class="col-md-6">
                <div class="m-input__title">Choose country</div>
                <label class="m-select">
                  <div
                    class="jq-selectbox jqselect ng-untouched ng-pristine ng-valid changed"
                  >
                    <div class="jq-selectbox__select">
                      <div
                        class="jq-selectbox__select-text"
                        id="account-country"
                      >
                        Vietnam
                      </div>
                      <div class="jq-selectbox__trigger">
                        <div class="jq-selectbox__trigger-arrow"></div>
                      </div>
                    </div>
                  </div>
                </label>
              </div>
            </div>
            <button type="submit" class="m-btn tr" disabled>
              Save changes
            </button>
          </div>
        </fieldset>
      </form></account-settings-personal
    ><account-settings-password
      ><form
        novalidate="true"
        autocomplete="off"
        class="ng-untouched ng-pristine ng-invalid"
      >
        <fieldset>
          <div class="cab-box mb">
            <img title="onewiex" src="assets/img/cab-set-2.svg" alt="onewiex" />
            <h3>Change password</h3>
            <div class="row">
              <div class="col-md-6">
                <div class="m-input__title">Current password</div>
                <label class="m-input"
                  ><input
                    type="password"
                    formcontrolname="password"
                    maxlength="32"
                    inputvalidation=""
                    placeholder="Enter current password"
                    class="ng-untouched ng-pristine ng-invalid"
                /></label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="m-input__title">New password</div>
                <label class="m-input"
                  ><input
                    type="password"
                    formcontrolname="new_password"
                    maxlength="32"
                    inputvalidation=""
                    placeholder="Enter new password"
                    class="ng-untouched ng-pristine ng-invalid"
                /></label>
              </div>
              <div class="col-md-6">
                <div class="m-input__title">Retype password</div>
                <label class="m-input"
                  ><input
                    type="password"
                    formcontrolname="new_password_confirmation"
                    maxlength="32"
                    inputvalidation=""
                    placeholder="Retype new password"
                    class="ng-untouched ng-pristine ng-invalid"
                /></label>
              </div>
            </div>
            <div class="m-text sm gray">
              <p>
                We recommend changing your password as often as possible and
                keeping it out of the reach of others.
              </p>
              <p>
                Enter your old password, pick a new one, and fill in all the
                required fields. After that, click “Save changes”
              </p>
            </div>
            <button type="submit" class="m-btn tr" disabled="">
              Save changes
            </button>
          </div>
        </fieldset>
      </form></account-settings-password
    ><account-settings-wallets
      ><form
        novalidate="true"
        autocomplete="off"
        class="ng-invalid ng-touched ng-dirty"
      >
        <div class="cab-box mb">
          <img title="onewiex" src="assets/img/cab-set-3.svg" alt="onewiex" />
          <h3>Wallet addresses</h3>
          <div class="m-input__title">Bitcoin address</div>
          <label class="m-input m-input_icon"
            ><input
              type="text"
              maxlength="128"
              inputvalidation=""
              placeholder="Bitcoin address"
              class="ng-untouched ng-pristine ng-valid" /><img
              title="onewiex"
              alt="onewiex"
              src="assets/img/btc.svg"
          /></label>
          <div class="m-input__title">
            Ethereum address
            <span class="text-upper">erc20</span>
          </div>
          <label class="m-input m-input_icon"
            ><input
              type="text"
              maxlength="128"
              inputvalidation=""
              placeholder="ERC20 address"
              class="ng-untouched ng-pristine ng-valid" /><img
              title="onewiex"
              alt="onewiex"
              src="assets/img/eth_erc20.svg"
          /></label>
          <div class="m-input__title">Litecoin address</div>
          <label class="m-input m-input_icon"
            ><input
              type="text"
              maxlength="128"
              inputvalidation=""
              placeholder="Litecoin address"
              class="ng-untouched ng-pristine ng-valid" /><img
              title="onewiex"
              alt="onewiex"
              src="assets/img/ltc.svg"
          /></label>
          <div class="m-input__title">Solana address</div>
          <label class="m-input m-input_icon"
            ><input
              type="text"
              maxlength="128"
              inputvalidation=""
              placeholder="Solana address"
              class="ng-untouched ng-pristine ng-valid" /><img
              title="onewiex"
              alt="onewiex"
              src="assets/img/sol.svg"
          /></label>
          <div class="m-input__title">
            TRON address <span class="text-upper">trc20</span>
          </div>
          <label class="m-input m-input_icon"
            ><input
              type="text"
              maxlength="128"
              inputvalidation=""
              placeholder="TRC20 address"
              class="ng-untouched ng-pristine ng-valid" /><img
              title="onewiex"
              alt="onewiex"
              src="assets/img/trx_trc20.svg"
          /></label>
          <div class="m-input__title">
            Tether address
            <span class="text-upper">erc20</span>
          </div>
          <label class="m-input m-input_icon"
            ><input
              type="text"
              maxlength="128"
              inputvalidation=""
              placeholder="ERC20 address"
              class="ng-untouched ng-pristine ng-valid" /><img
              title="onewiex"
              alt="onewiex"
              src="assets/img/usdt_erc20.svg"
          /></label>
          <div class="m-input__title">
            Tether address
            <span class="text-upper">trc20</span>
          </div>
          <label class="m-input m-input_icon"
            ><input
              type="text"
              maxlength="128"
              inputvalidation=""
              placeholder="TRC20 address"
              class="ng-untouched ng-pristine ng-valid" /><img
              title="onewiex"
              alt="onewiex"
              src="assets/img/usdt_trc20.svg"
          /></label>
          <div class="m-input__title">
            Tether address
            <span class="text-upper">bep20</span>
          </div>
          <label class="m-input m-input_icon"
            ><input
              type="text"
              maxlength="128"
              inputvalidation=""
              placeholder="BEP20 address"
              class="ng-untouched ng-pristine ng-valid" /><img
              title="onewiex"
              alt="onewiex"
              src="assets/img/usdt_bep20.svg"
          /></label>
          <div class="m-input__title">
            USD Coin address
            <span class="text-upper">erc20</span>
          </div>
          <label class="m-input m-input_icon"
            ><input
              type="text"
              maxlength="128"
              inputvalidation=""
              placeholder="ERC20 address"
              class="ng-untouched ng-pristine ng-valid" /><img
              title="onewiex"
              alt="onewiex"
              src="assets/img/usdc_erc20.svg"
          /></label>
          <div class="m-input__title">
            USD Coin address
            <span class="text-upper">trc20</span>
          </div>
          <label class="m-input m-input_icon"
            ><input
              type="text"
              maxlength="128"
              inputvalidation=""
              placeholder="TRC20 address"
              class="ng-untouched ng-pristine ng-valid" /><img
              title="onewiex"
              alt="onewiex"
              src="assets/img/usdc_trc20.svg"
          /></label>
          <div class="m-input__title">
            BNB address <span class="text-upper">bep20</span>
          </div>
          <label class="m-input m-input_icon"
            ><input
              type="text"
              maxlength="128"
              inputvalidation=""
              placeholder="BEP20 address"
              class="ng-untouched ng-pristine ng-valid" /><img
              title="onewiex"
              alt="onewiex"
              src="assets/img/bnb_bep20.svg"
          /></label>
          <div class="m-input__title">
            Binance USD address
            <span class="text-upper">bep20</span>
          </div>
          <label class="m-input m-input_icon"
            ><input
              type="text"
              maxlength="128"
              inputvalidation=""
              placeholder="BEP20 address"
              class="ng-untouched ng-pristine ng-valid" /><img
              title="onewiex"
              alt="onewiex"
              src="assets/img/busd_bep20.svg"
          /></label>
          <div class="m-input__title">
            Dai address <span class="text-upper">erc20</span>
          </div>
          <label class="m-input m-input_icon"
            ><input
              type="text"
              maxlength="128"
              inputvalidation=""
              placeholder="ERC20 address"
              class="ng-untouched ng-pristine ng-valid" /><img
              title="onewiex"
              alt="onewiex"
              src="assets/img/dai_erc20.svg"
          /></label>
          <div class="m-input__title">
            Chainlink address
            <span class="text-upper">erc20</span>
          </div>
          <label class="m-input m-input_icon"
            ><input
              type="text"
              maxlength="128"
              inputvalidation=""
              placeholder="ERC20 address"
              class="ng-untouched ng-pristine ng-valid" /><img
              title="onewiex"
              alt="onewiex"
              src="assets/img/link_erc20.svg"
          /></label>
          <div class="row">
            <div class="col-md-6">
              <div class="m-input__title">Financial secret code</div>
              <div class="m-input">
                <input
                  type="text"
                  formcontrolname="pincode"
                  maxlength="6"
                  inputvalidation=""
                  placeholder="Enter 6 digits secret code"
                  class="ng-untouched ng-pristine ng-invalid"
                />
              </div>
            </div>
          </div>
          <button type="submit" class="m-btn tr" disabled="">
            Save changes
          </button>
        </div>
      </form></account-settings-wallets
    ><account-settings-totp
      ><form
        novalidate="true"
        autocomplete="off"
        class="ng-untouched ng-pristine ng-invalid"
      >
        <fieldset>
          <div class="cab-box mb">
            <img title="onewiex" src="assets/img/cab-set-4.svg" alt="onewiex" />
            <h3>Enable 2FA</h3>
            <div class="cab-set__qr">
              <img
                title="onewiex"
                alt="onewiex"
                src="https://quickchart.io/qr?size=164&amp;margin=2&amp;ecLevel=Q&amp;format=svg&amp;text=otpauth://totp/Onewiex - newuser?secret=DJJ2EADAA3XLMB4P&amp;issuer=Onewiex"
              />
              <div class="m-text sm gray">
                <p>
                  To get the Google Authenticator code, open the app and scan
                  the QR code shown below. You can also enter the key under the
                  QR code instead of scanning. Do not disclose your Google
                  Authenticator key to avoid login problems in case of phone
                  change or loss
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="m-input__title">Google Authenticator KEY</div>
                <div class="cab-copy">
                  <p>DJJ2EADAA3XLMB4P</p>
                  <div class="cab-copy__btn">
                    <svg>
                      <use xlink:href="assets/img/sprite.svg#copy"></use>
                    </svg>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="m-input__title">Google Authenticator code</div>
                <label class="m-input"
                  ><input
                    type="text"
                    formcontrolname="code"
                    maxlength="6"
                    inputvalidation=""
                    placeholder="Enter authenticator code"
                    class="ng-untouched ng-pristine ng-invalid"
                /></label>
              </div>
            </div>
            <button type="submit" class="m-btn mb" disabled="">
              Enable 2FA
            </button>
          </div>
        </fieldset>
      </form></account-settings-totp
    ><account-settings-contacts
      ><form
        novalidate="true"
        autocomplete="off"
        class="ng-untouched ng-pristine ng-valid"
      >
        <fieldset>
          <div class="cab-box mb">
            <img title="onewiex" src="assets/img/cab-set-5.svg" alt="onewiex" />
            <h3>Social contacts</h3>
            <div class="row">
              <div class="col-md-6">
                <div class="m-input__title">Telegram account</div>
                <label class="m-input"
                  ><input
                    id="account-telegram"
                    type="text"
                    formcontrolname="telegram"
                    maxlength="32"
                    placeholder="@username"
                    inputvalidation=""
                    class="ng-untouched ng-pristine ng-valid"
                /></label>
              </div>
              <div class="col-md-6">
                <div class="m-input__title">Facebook account</div>
                <label class="m-input"
                  ><input
                    id="account-facebook"
                    type="url"
                    formcontrolname="facebook"
                    maxlength="255"
                    inputvalidation=""
                    placeholder="Facebook profile link"
                    class="ng-untouched ng-pristine ng-valid"
                /></label>
              </div>
              <div class="col-md-6">
                <div class="m-input__title">Instagram account</div>
                <label class="m-input"
                  ><input
                    id="account-instagram"
                    type="url"
                    formcontrolname="instagram"
                    maxlength="255"
                    inputvalidation=""
                    placeholder="Instagram profile link"
                    class="ng-untouched ng-pristine ng-valid"
                /></label>
              </div>
              <div class="col-md-6">
                <div class="m-input__title">WhatsApp</div>
                <label class="m-input"
                  ><input
                    id="account-whatsapp"
                    type="text"
                    formcontrolname="whatsapp"
                    maxlength="25"
                    inputvalidation=""
                    placeholder="WhatsApp phone number"
                    class="ng-untouched ng-pristine ng-valid"
                /></label>
              </div>
              <div class="col-md-6">
                <div class="m-input__title">YouTube</div>
                <label class="m-input"
                  ><input
                    id="account-youtube"
                    type="url"
                    formcontrolname="youtube"
                    maxlength="255"
                    inputvalidation=""
                    placeholder="YouTube profile link"
                    class="ng-untouched ng-pristine ng-valid"
                /></label>
              </div>
              <div class="col-md-6">
                <div class="m-input__title">WeChat account</div>
                <label class="m-input"
                  ><input
                    id="account-wechat"
                    type="text"
                    formcontrolname="wechat"
                    maxlength="32"
                    inputvalidation=""
                    placeholder="WeChat account"
                    class="ng-untouched ng-pristine ng-valid"
                /></label>
              </div>
            </div>
            <button type="submit" class="m-btn tr" disabled>
              Save changes
            </button>
          </div>
        </fieldset>
      </form></account-settings-contacts
    ></ng-component
  >
</div>
