<div class="cab-side">
  <div class="cab-side__head">
    <a routerlink="/" class="header-logo" href="/">
      <img title="onewiex" src="assets/img/logo.svg" alt="onewiex" />
    </a>
    <app-language class="header-lang">
      <div class="header-lang">
        <div class="header-lang__icon">
          <svg>
            <use xlink:href="assets/img/flags.svg#en"></use>
          </svg>
        </div>
        <span>en</span>
        <svg>
          <use xlink:href="assets/img/sprite.svg#arrow"></use>
        </svg>
      </div>
    </app-language>
  </div>

  <div class="cab-side__wrap">
    <div
      nicescroll=""
      class="nicescroll-box"
      tabindex="1"
      style="overflow: hidden; position: relative; outline: none"
    >
      <div
        class="wrap"
        style="
          transition: transform 0ms ease-out 0s;
          transform: translate3d(0px, 0px, 0px);
        "
      >
        <div class="cab-hero">
          <a
            routerlink="/account/settings"
            class="cab-hero__img opacity"
            href="/account/settings"
            ><img title="onewiex" src="assets/img/noavatar.png" alt="onewiex"
          /></a>
          <h3>Sdfgsdf</h3>
          <div class="cab-hero__status">
            <img title="onewiex" alt="onewiex" src="assets/img/refs-1.svg" />
            Partner
          </div>
        </div>

        <div class="cab-menu">
          <a
            id="account-link"
            class="active"
            onclick="handleLinkClick('account-link')"
          >
            <img
              title="onewiex"
              src="assets/img/cab-menu-1.svg"
              alt="onewiex"
            />
            Account
          </a>
          <a id="add-funds-link" onclick="handleLinkClick('add-funds-link')">
            <img
              title="onewiex"
              src="assets/img/cab-menu-2.svg"
              alt="onewiex"
            />
            Add funds
          </a>
          <a
            id="open-a-deposit-link"
            onclick="handleLinkClick('open-a-deposit-link')"
          >
            <img
              title="onewiex"
              src="assets/img/cab-menu-3.svg"
              alt="onewiex"
            />
            Open a deposit
          </a>
          <a
            id="withdraw-funds-link"
            onclick="handleLinkClick('withdraw-funds-link')"
          >
            <img
              title="onewiex"
              src="assets/img/cab-menu-4.svg"
              alt="onewiex"
            />
            Withdraw funds
          </a>
          <a
            id="currency-exchange-link"
            onclick="handleLinkClick('currency-exchange-link')"
          >
            <img
              title="onewiex"
              src="assets/img/cab-menu-12.svg"
              alt="onewiex"
            />
            Currency exchange
          </a>
          <a
            id="my-deposits-link"
            onclick="handleLinkClick('my-deposits-link')"
          >
            <img
              title="onewiex"
              src="assets/img/cab-menu-5.svg"
              alt="onewiex"
            />
            My deposits
          </a>
          <a
            id="transaction-history-link"
            onclick="handleLinkClick('transaction-history-link')"
          >
            <img
              title="onewiex"
              src="assets/img/cab-menu-6.svg"
              alt="onewiex"
            />
            Transaction history
          </a>
          <a
            id="my-partners-link"
            onclick="handleLinkClick('my-partners-link')"
          >
            <img
              title="onewiex"
              src="assets/img/cab-menu-8.svg"
              alt="onewiex"
            />
            My partners
          </a>
          <a
            id="partner-statistics-link"
            onclick="handleLinkClick('partner-statistics-link')"
          >
            <img
              title="onewiex"
              src="assets/img/cab-menu-7.svg"
              alt="onewiex"
            />
            Partner statistics
          </a>
          <a id="promo-link" onclick="handleLinkClick('promo-link')">
            <img
              title="onewiex"
              src="assets/img/cab-menu-9.svg"
              alt="onewiex"
            />
            Promo
          </a>
          <a id="documents-link" onclick="handleLinkClick('documents-link')">
            <img
              title="onewiex"
              src="assets/img/cab-menu-10.svg"
              alt="onewiex"
            />
            Documents
          </a>
          <a
            id="live-trading-link"
            class="live"
            onclick="handleLinkClick('live-trading-link')"
          >
            <img
              title="onewiex"
              src="assets/img/cab-menu-13.svg"
              alt="onewiex"
            />
            Live trading
            <svg>
              <use xlink:href="assets/img/sprite.svg#arrow-2"></use>
            </svg>
          </a>
          <a
            id="account-settings-link"
            onclick="handleLinkClick('account-settings-link')"
          >
            <img
              title="onewiex"
              src="assets/img/cab-menu-11.svg"
              alt="onewiex"
            />
            Account settings
          </a>
        </div>

        <a class="m-btn white" onclick="logout()">Logout</a>
      </div>
      <div
        id="ascrail2000"
        class="nicescroll-rails nicescroll-rails-vr"
        style="
          width: 2px;
          z-index: 20;
          cursor: default;
          position: absolute;
          top: 0px;
          right: 0px;
          opacity: 1;
          display: none;
          height: 947.078px;
        "
      >
        <div
          class="nicescroll-cursors"
          style="
            position: relative;
            top: 0px;
            float: right;
            width: 2px;
            height: 0px;
            background-color: rgb(241, 187, 12);
            border: 0px solid rgb(255, 255, 255);
            background-clip: padding-box;
            border-radius: 0px;
          "
        ></div>
      </div>
      <div
        id="ascrail2000-hr"
        class="nicescroll-rails nicescroll-rails-hr"
        style="
          height: 2px;
          z-index: 20;
          position: absolute;
          left: 0px;
          bottom: 0px;
          opacity: 1;
          cursor: default;
          display: none;
          width: 324px;
        "
      >
        <div
          class="nicescroll-cursors"
          style="
            position: absolute;
            top: 0px;
            height: 2px;
            width: 0px;
            background-color: rgb(241, 187, 12);
            border: 0px solid rgb(255, 255, 255);
            background-clip: padding-box;
            border-radius: 0px;
            left: 0px;
          "
        ></div>
      </div>
    </div>
  </div>
</div>

<div class="cab-bal__side">
  <account-balance
    ><div class="cab-bal">
      <div class="cab-bal__head">
        <img title="onewiex" alt="onewiex" src="assets/img/usd-color.svg" />
        <h3>USD Balance</h3>
        <p>0 <span>USD</span></p>
      </div>
      <div class="cab-bal__btns">
        <a href="javascript:void(0)" class="m-btn sm white text-nowrap"
          >Add funds</a
        ><a
          href="javascript:void(0)"
          class="m-btn sm white text-nowrap disabled"
          >Withdrawal funds</a
        >
      </div>
    </div> </account-balance
  ><account-balance
    ><div class="cab-bal">
      <div class="cab-bal__head">
        <img title="onewiex" alt="onewiex" src="assets/img/btc-color.svg" />
        <h3>BTC Balance</h3>
        <p>0 <span>BTC</span></p>
      </div>
      <div class="cab-bal__btns">
        <a href="javascript:void(0)" class="m-btn sm white text-nowrap"
          >Add funds</a
        ><a
          href="javascript:void(0)"
          class="m-btn sm white text-nowrap disabled"
          >Withdrawal funds</a
        >
      </div>
    </div> </account-balance
  ><account-balance
    ><div class="cab-bal">
      <div class="cab-bal__head">
        <img title="onewiex" alt="onewiex" src="assets/img/eth-color.svg" />
        <h3>ETH Balance</h3>
        <p>0 <span>ETH</span></p>
      </div>
      <div class="cab-bal__btns">
        <a href="javascript:void(0)" class="m-btn sm white text-nowrap"
          >Add funds</a
        ><a
          href="javascript:void(0)"
          class="m-btn sm white text-nowrap disabled"
          >Withdrawal funds</a
        >
      </div>
    </div> </account-balance
  ><account-balance
    ><div class="cab-bal">
      <div class="cab-bal__head">
        <img title="onewiex" alt="onewiex" src="assets/img/ltc-color.svg" />
        <h3>LTC Balance</h3>
        <p>0 <span>LTC</span></p>
      </div>
      <div class="cab-bal__btns">
        <a href="javascript:void(0)" class="m-btn sm white text-nowrap"
          >Add funds</a
        ><a
          href="javascript:void(0)"
          class="m-btn sm white text-nowrap disabled"
          >Withdrawal funds</a
        >
      </div>
    </div> </account-balance
  ><account-balance
    ><div class="cab-bal">
      <div class="cab-bal__head">
        <img title="onewiex" alt="onewiex" src="assets/img/sol-color.svg" />
        <h3>SOL Balance</h3>
        <p>0 <span>SOL</span></p>
      </div>
      <div class="cab-bal__btns">
        <a href="javascript:void(0)" class="m-btn sm white text-nowrap"
          >Add funds</a
        ><a
          href="javascript:void(0)"
          class="m-btn sm white text-nowrap disabled"
          >Withdrawal funds</a
        >
      </div>
    </div>
  </account-balance>
</div>
