<form
  novalidate="true"
  tabindex="-1"
  class="cab-modal active ng-untouched ng-pristine ng-valid"
  autocomplete="off"
>
  <div class="cab-modal__wrap">
    <fieldset>
      <div onclick="closeCurrencyExchange()" class="cab-modal__close">
        <svg><use xlink:href="assets/img/sprite.svg#close"></use></svg>
      </div>
      <div class="cab-modal__icon">
        <img title="onewiex" src="assets/img/exchange-icon.svg" alt="onewiex" />
      </div>
      <div class="cab-modal__title">Currency exchange</div>
      <div class="row">
        <div class="col-md-6">
          <div class="m-input__title">You give</div>
          <div class="m-input">
            <input
              type="text"
              formcontrolname="amount"
              maxlength="18"
              placeholder="0.00"
              class="ng-untouched ng-pristine ng-valid"
            />
            <div
              class="tariff-item__select tariff-item__select_icon tariff-item__select_icon_sm"
            >
              <div
                class="jq-selectbox jqselect ng-untouched ng-pristine ng-valid usd"
              >
                <select styler="" class="ng-untouched ng-pristine ng-valid">
                  <option class="usd" value="usd">usd</option>
                  <option class="btc" value="btc">btc</option>
                  <option class="eth" value="eth">eth</option>
                  <option class="ltc" value="ltc">ltc</option>
                  <option class="sol" value="sol">sol</option>
                </select>
                <div class="jq-selectbox__select">
                  <div class="jq-selectbox__select-text">usd</div>
                  <div class="jq-selectbox__trigger">
                    <div class="jq-selectbox__trigger-arrow"></div>
                  </div>
                </div>
                <div
                  class="jq-selectbox__dropdown"
                  style="width: 136.625px; display: none"
                >
                  <ul>
                    <li data-jqfs-class="usd" class="selected sel usd" style="">
                      usd
                    </li>
                    <li data-jqfs-class="btc" class="btc" style="">btc</li>
                    <li data-jqfs-class="eth" class="eth" style="">eth</li>
                    <li data-jqfs-class="ltc" class="ltc" style="">ltc</li>
                    <li data-jqfs-class="sol" class="sol" style="">sol</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="m-input__title">You get</div>
          <div class="m-input">
            <input
              type="text"
              formcontrolname="dstAmount"
              maxlength="18"
              placeholder="0.00"
              readonly=""
              class="ng-untouched ng-pristine ng-valid"
            />
            <div
              class="tariff-item__select tariff-item__select_icon tariff-item__select_icon_sm"
            >
              <div
                class="jq-selectbox jqselect ng-untouched ng-pristine ng-valid btc"
              >
                <select styler="" class="ng-untouched ng-pristine ng-valid">
                  <option class="btc" value="btc">btc</option>
                  <option class="eth" value="eth">eth</option>
                  <option class="ltc" value="ltc">ltc</option>
                  <option class="sol" value="sol">sol</option>
                </select>
                <div class="jq-selectbox__select">
                  <div class="jq-selectbox__select-text">btc</div>
                  <div class="jq-selectbox__trigger">
                    <div class="jq-selectbox__trigger-arrow"></div>
                  </div>
                </div>
                <div
                  class="jq-selectbox__dropdown"
                  style="width: 133.703px; display: none"
                >
                  <ul>
                    <li data-jqfs-class="btc" class="selected sel btc" style="">
                      btc
                    </li>
                    <li data-jqfs-class="eth" class="eth" style="">eth</li>
                    <li data-jqfs-class="ltc" class="ltc" style="">ltc</li>
                    <li data-jqfs-class="sol" class="sol" style="">sol</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cab-modal__info">
        <div class="cab-modal__info-item">
          <h3>Exchange rate:</h3>
          <p class="text-upper">1 usd = 0.00003443 BTC</p>
        </div>
        <div class="cab-modal__info-item">
          <h3>Commission:</h3>
          <p>2% / 0 USD</p>
        </div>
      </div>
      <div class="cab-modal__info">
        <div class="cab-modal__info-item">
          <h3>Will be credited:</h3>
          <p class="yellow">0 <span>BTC</span></p>
        </div>
        <div class="cab-modal__info-item">
          <h3>Balance after:</h3>
          <p class="yellow">
            <time>0</time><span> USD / </span>0 <span>BTC</span>
          </p>
        </div>
      </div>
      <div class="cab-modal__btns">
        <button type="submit" class="m-btn white" disabled>
          Accept operation
        </button>
      </div>
    </fieldset>
  </div>
</form>
