<div class="cab-content">
  <ng-component
    ><div class="cab-title mt-5 mt-lg-0">Documents</div>
    <div class="cab-subtitle sm">Investment agreement</div>
    <div class="row">
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img title="onewiex" src="assets/img/cab-img-1.png" alt="onewiex" />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a target="_blank" href="/api/agreement" class="m-btn sm white"
                >Preview</a
              ><a href="/api/agreement" download="" class="m-btn sm white"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cab-subtitle sm">Onewiex reports</div>
    <div class="row">
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img title="onewiex" src="assets/img/report-01.png" alt="onewiex" />
          </div>
          <div class="cab-materials__content">
            <h3>Onewiex report from August 1 to October 31</h3>
            <div class="cab-materials__btns">
              <a
                target="_blank"
                href="assets/docs/report/onewiex_report_08_10.pdf"
                class="m-btn sm white"
                >Preview</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img title="onewiex" src="assets/img/report-02.png" alt="onewiex" />
          </div>
          <div class="cab-materials__content">
            <h3>Onewiex report from November 1, 2022 to January 31, 2023</h3>
            <div class="cab-materials__btns">
              <a
                target="_blank"
                href="assets/docs/report/onewiex_report_11_01.pdf"
                class="m-btn sm white"
                >Preview</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              src="assets/img/report-03.webp"
              alt="onewiex"
            />
          </div>
          <div class="cab-materials__content">
            <h3>Onewiex report from February 1, 2023 to March 1, 2023</h3>
            <div class="cab-materials__btns">
              <a
                target="_blank"
                href="assets/docs/report/onewiex_report_02_2023.pdf"
                class="m-btn sm white"
                >Preview</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              src="assets/img/report-04.webp"
              alt="onewiex"
            />
          </div>
          <div class="cab-materials__content">
            <h3>Onewiex report from March 1, 2023 to April 1, 2023</h3>
            <div class="cab-materials__btns">
              <a
                target="_blank"
                href="assets/docs/report/onewiex_report_03_2023.pdf"
                class="m-btn sm white"
                >Preview</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              src="assets/img/report-05.webp"
              alt="onewiex"
            />
          </div>
          <div class="cab-materials__content">
            <h3>Onewiex report from April 1, 2023 to May 1, 2023</h3>
            <div class="cab-materials__btns">
              <a
                target="_blank"
                href="assets/docs/report/onewiex_report_04_2023.pdf"
                class="m-btn sm white"
                >Preview</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              src="assets/img/report-06.webp"
              alt="onewiex"
            />
          </div>
          <div class="cab-materials__content">
            <h3>Onewiex report from May 1, 2023 to May 31, 2023</h3>
            <div class="cab-materials__btns">
              <a
                target="_blank"
                href="assets/docs/report/onewiex_report_05_2023.pdf"
                class="m-btn sm white"
                >Preview</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              src="assets/img/report-07.webp"
              alt="onewiex"
            />
          </div>
          <div class="cab-materials__content">
            <h3>Onewiex report from June 1, 2023 to June 30, 2023</h3>
            <div class="cab-materials__btns">
              <a
                target="_blank"
                href="assets/docs/report/onewiex_report_06_2023.pdf"
                class="m-btn sm white"
              >
                Preview
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              src="assets/img/report-08.webp"
              alt="onewiex"
            />
          </div>
          <div class="cab-materials__content">
            <h3>Onewiex report from July 1, 2023 to July 31, 2023</h3>
            <div class="cab-materials__btns">
              <a
                target="_blank"
                href="assets/docs/report/onewiex_report_07_2023.pdf"
                class="m-btn sm white"
              >
                Preview
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cab-subtitle sm">Presentations</div>
    <div class="row">
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/en.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_en.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_en.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/vn.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_vn.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_vn.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/kr.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_kr.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_kr.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/mn.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_mn.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_mn.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/nl.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_nl.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_nl.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/pk.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_pk.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_pk.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/pl.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_pl.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_pl.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/pt.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_pt.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_pt.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/tr.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_tr.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_tr.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/it.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_it.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_it.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/ir.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_ir.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_ir.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/in.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_in.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_in.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/id.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_id.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_id.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/hu.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_hu.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_hu.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/fr.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_fr.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_fr.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/es.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_es.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_es.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/de.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_de.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_de.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/cn.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_cn.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_cn.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/th.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_th.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_th.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/jp.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_jp.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_jp.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/docs/presentation/preview/ar.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a
                target="_blank"
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_ar.pdf"
                >Preview</a
              ><a
                download=""
                class="m-btn sm white"
                href="assets/docs/presentation/onewiex_presentation_ar.pdf"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-component>
</div>
