<div class="cab-content">
  <ng-component>
    <div class="cab-title mt-5 mt-lg-0">Account</div>

    <form
      novalidate="true"
      autocomplete="off"
      class="ng-untouched ng-pristine ng-valid"
    >
      <fieldset>
        <div class="cab-box">
          <img title="onewiex" src="assets/img/cab-icon-1.svg" alt="onewiex" />
          <h3>Open a deposit</h3>
          <div class="m-input__title">Choose offer</div>

          <div id="assets_select_pannel" class="m-radio">
            <!-- Add by javascript -->
          </div>

          <div class="m-input__title">Choose plan</div>

          <div class="cab-box__input">
            <div class="m-select">
              <div
                class="jq-selectbox jqselect dropdown opened"
                style="z-index: 10"
              >
                <div
                  onclick="choose_plan_clicked()"
                  class="jq-selectbox__select"
                >
                  <div
                    id="user_selected_plan"
                    class="jq-selectbox__select-text"
                  >
                    USD Forex
                  </div>
                  <div class="jq-selectbox__trigger">
                    <div class="jq-selectbox__trigger-arrow"></div>
                  </div>
                </div>
                <div
                  class="jq-selectbox__dropdown"
                  style="height: auto; bottom: auto; top: 53px"
                >
                  <ul
                    id="plan_option"
                    style="max-height: 420px; display: none"
                  ></ul>
                </div>
              </div>
            </div>
          </div>

          <div class="tariff-item single">
            <img title="onewiex" alt="onewiex" src="assets/img/usd-1.svg" />
            <div class="tariff-item__head">
              <h3>USD Forex</h3>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="tariff-item__info">
                  <div class="tariff-item__info-item">
                    <p>Accruals:</p>
                    <span id="accruals">Mon-Fri</span>
                  </div>
                  <div class="tariff-item__info-item">
                    <p>Deposit term:</p>
                    <span id="deposit_term">16 days</span>
                  </div>
                  <div class="tariff-item__info-item">
                    <p>Interest:</p>
                    <span id="interest">0.8 - 1.3%</span>
                  </div>

                  <div class="tariff-item__info-item">
                    <p>Amount:</p>
                    <span id="amount" class="text-upper">50 - 1,000 USD</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="tariff-item__text">
                  <p>
                    USD Assets are investment portfolios that guarantee a stable
                    daily income in US dollars from Monday to Friday. The main
                    capital will be available for withdrawal at the end of the
                    deposit term.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="m-input__title">Paying from balance</div>

          <div class="cab-wallets">
            <label class="active">
              <div class="cab-wallets__item">
                <div class="cab-wallets__icon">
                  <svg>
                    <use xlink:href="assets/img/sprite.svg#btc-icon"></use>
                  </svg>
                </div>
                <h3>btc</h3>
                <p>0</p>
              </div>
            </label>
            <label>
              <div class="cab-wallets__item">
                <div class="cab-wallets__icon">
                  <svg>
                    <use xlink:href="assets/img/sprite.svg#eth-icon"></use>
                  </svg>
                </div>
                <h3>eth</h3>
                <p>0</p>
              </div>
            </label>
            <label>
              <div class="cab-wallets__item">
                <div class="cab-wallets__icon">
                  <svg>
                    <use xlink:href="assets/img/sprite.svg#ltc-icon"></use>
                  </svg>
                </div>
                <h3>ltc</h3>
                <p>0</p>
              </div>
            </label>
            <label>
              <div class="cab-wallets__item">
                <div class="cab-wallets__icon">
                  <svg>
                    <use xlink:href="assets/img/sprite.svg#sol-icon"></use>
                  </svg>
                </div>
                <h3>sol</h3>
                <p>0</p>
              </div>
            </label>
          </div>

          <div class="cab-box__input">
            <div class="m-input__head">
              <div class="m-input__title">Deposit amount</div>
              <div class="m-input__title">min 50 - max 1,000 USD</div>
            </div>
            <label class="m-input"
              ><input
                type="text"
                formcontrolname="amount"
                maxlength="18"
                placeholder="0.00"
                class="ng-untouched ng-pristine ng-valid"
              /><span class="text-upper">usd</span></label
            >
          </div>
          <div class="cab-modal__info">
            <div class="cab-modal__info-item">
              <h3>Balance after operation:</h3>
              <p class="text-upper negative">-50 <span>usd</span></p>
            </div>
            <div class="cab-modal__info-item">
              <h3>Expire date:</h3>
              <p>28/08/2023 <span>14:46</span></p>
            </div>
            <div class="cab-modal__info-item">
              <h3>Total profit:</h3>
              <p class="text-upper">60.4 usd</p>
            </div>
          </div>
          <button type="submit" class="m-btn tr" disabled="">
            Open deposit
          </button>
        </div>
      </fieldset>
    </form>
  </ng-component>
</div>
