<div class="cab-content">
  <ng-component
    ><div class="cab-title mt-5 mt-lg-0">Partner statistics</div>
    <div class="cab-empty">
      <img title="onewiex" src="assets/img/warn.svg" alt="onewiex" />
      <h3>There is no information about your partners statistics here yet</h3>
      <p>You do not currently have any partners</p>
      <p>
        Here will be displayed all information about your partners statistics
      </p>
      <p>
        To display the history of your partners, you need to invite at least one
        person who will use your referral link
      </p>
      <a onclick="handleLinkClick('add-funds-link')" class="m-btn sm tr"
        >Copy Referral Link</a
      >
    </div>
  </ng-component>
</div>
