<div class="cab-content">
  <ng-component
    ><div class="cab-title mt-5 mt-lg-0">Promo</div>
    <div class="row">
      <div class="col-lg-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img title="onewiex" src="assets/img/img-card.png" alt="onewiex" />
          </div>
          <div class="cab-materials__content">
            <div class="cab-materials__btns">
              <a target="_blank" href="/api/visit_card" class="m-btn sm white"
                >Preview</a
              ><a href="/api/visit_card" download="" class="m-btn sm white"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/img/cab-materials-1.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="d-flex">
              <a
                target="_blank"
                class="m-btn sm white"
                href="/assets/promo/sweatshirt.pdf"
                >Preview</a
              ><a
                target="_blank"
                download=""
                class="m-btn sm white ml-3"
                href="/assets/promo/sweatshirt.rar"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/img/cab-materials-2.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="d-flex">
              <a
                target="_blank"
                class="m-btn sm white"
                href="/assets/promo/car.png"
                >Preview</a
              ><a
                target="_blank"
                download=""
                class="m-btn sm white ml-3"
                href="/assets/promo/car.rar"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/img/cab-materials-3.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="d-flex">
              <a
                target="_blank"
                class="m-btn sm white"
                href="/assets/promo/mug.png"
                >Preview</a
              ><a
                target="_blank"
                download=""
                class="m-btn sm white ml-3"
                href="/assets/promo/mug.rar"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/img/cab-materials-4.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="d-flex">
              <a
                target="_blank"
                class="m-btn sm white"
                href="/assets/promo/facemask.png"
                >Preview</a
              ><a
                target="_blank"
                download=""
                class="m-btn sm white ml-3"
                href="/assets/promo/facemask.rar"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/img/cab-materials-5.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="d-flex">
              <a
                target="_blank"
                class="m-btn sm white"
                href="/assets/promo/brochure.pdf"
                >Preview</a
              ><a
                target="_blank"
                download=""
                class="m-btn sm white ml-3"
                href="/assets/promo/brochure.rar"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/img/cab-materials-6.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="d-flex">
              <a
                target="_blank"
                class="m-btn sm white"
                href="/assets/promo/street.pdf"
                >Preview</a
              ><a
                target="_blank"
                download=""
                class="m-btn sm white ml-3"
                href="/assets/promo/street.rar"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="cab-materials">
          <div class="cab-materials__img">
            <img
              title="onewiex"
              alt="onewiex"
              src="assets/img/cab-materials-7.png"
            />
          </div>
          <div class="cab-materials__content">
            <div class="d-flex">
              <a
                target="_blank"
                class="m-btn sm white"
                href="/assets/promo/street2.pdf"
                >Preview</a
              ><a
                target="_blank"
                download=""
                class="m-btn sm white ml-3"
                href="/assets/promo/street2.rar"
                >Download</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-component>
</div>
