<div class="cab-content">
  <ng-component>
    <div class="row d-flex align-items-center mt-5 mt-lg-0">
      <div class="col-md-6">
        <div class="cab-title">Transaction history</div>
      </div>
      <div class="col-md-6 d-flex justify-content-md-end">
        <!-- Content for the second column goes here -->
      </div>
    </div>
    <!-- Additional content goes here -->
    <div class="cab-empty">
      <img title="onewiex" src="assets/img/warn.svg" alt="onewiex" />
      <h3>There is no information about your deposits here yet</h3>
      <p>
        Your deposit portfolio statistics will be displayed here. To display
        statistics on your deposits, you need to open a deposit.
      </p>
      <a onclick="handleLinkClick('add-funds-link')" class="m-btn sm tr"
        >Create deposit</a
      >
    </div>
    <!-- Additional content goes here -->
  </ng-component>
</div>
