<form
  novalidate="true"
  tabindex="-1"
  class="cab-modal active ng-untouched ng-pristine ng-invalid"
  autocomplete="off"
>
  <div class="cab-modal__wrap">
    <div onclick="closeWithdrawFundsDetail()" class="cab-modal__close">
      <svg><use xlink:href="assets/img/sprite.svg#close"></use></svg>
    </div>
    <div class="cab-modal__icon">
      <img title="onewiex" alt="onewiex" src="assets/img/usd-color.svg" />
    </div>
    <div class="cab-modal__title">Withdrawal from USD balance</div>
    <div class="m-input__title">Choose balance</div>
    <div class="m-radio">
      <label class="active"><span class="text-upper">usd</span></label
      ><label><span class="text-upper">btc</span></label
      ><label><span class="text-upper">eth</span></label
      ><label><span class="text-upper">ltc</span></label
      ><label><span class="text-upper">sol</span></label>
    </div>
    <div class="cab-modal__info">
      <div class="cab-modal__info-item">
        <h3>Withdrawal from:</h3>
        <p>USD balance</p>
      </div>
      <div class="cab-modal__info-item">
        <h3>Withdrawal to:</h3>
        <p>BTC</p>
      </div>
      <div class="cab-modal__info-item">
        <h3>Available for withdrawal:</h3>
        <p>0 <span>USD</span></p>
      </div>
    </div>
    <div class="cab-modal__input">
      <div class="m-input__title">Withdrawal amount</div>
      <label class="m-input"
        ><input
          type="text"
          formcontrolname="amount"
          maxlength="18"
          placeholder="0.00"
          class="ng-untouched ng-pristine ng-valid"
        /><span>USD</span></label
      >
    </div>
    <div class="cab-modal__select">
      <div class="m-input__head">
        <div class="m-input__title">Withdrawal to address</div>
        <a
          routerlink="/account/settings"
          class="m-input__link"
          href="/account/settings"
          >Change address</a
        >
      </div>
      <div class="m-select">
        <div class="jq-selectbox jqselect">
          <select styler="">
            <option value="10">
              <b>BTC</b> - 145tRcL5YHHYHbX...78hiDYVzf78aaaa
            </option>
          </select>
          <div class="jq-selectbox__select">
            <div class="jq-selectbox__select-text">
              BTC - 145tRcL5YHHYHbX...78hiDYVzf78aaaa
            </div>
            <div class="jq-selectbox__trigger">
              <div class="jq-selectbox__trigger-arrow"></div>
            </div>
          </div>
          <div class="jq-selectbox__dropdown" style="display: none">
            <ul>
              <li class="selected sel" style="">
                <b>BTC</b> - 145tRcL5YHHYHbX...78hiDYVzf78aaaa
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="cab-modal__info">
      <div class="cab-modal__info-item">
        <h3>Commission:</h3>
        <p>0% / 0 USD</p>
      </div>
      <div class="cab-modal__info-item">
        <h3>Will be sent:</h3>
        <p>0 BTC</p>
      </div>
      <div class="cab-modal__info-item">
        <h3>Balance after operation:</h3>
        <p>0 <span>USD</span></p>
      </div>
    </div>
    <div class="cab-modal__text">
      <p>
        To withdraw funds, please enter the correct amount in the form above.
      </p>
      <p>
        Funds will be automatically credited to your wallet address in
        accordance with the company's regulations within 48 hours
        (Monday-Friday).
      </p>
    </div>
    <div class="cab-modal__input">
      <div class="m-input__title">Financial secret code</div>
      <label class="m-input"
        ><input
          type="text"
          formcontrolname="pincode"
          maxlength="6"
          placeholder="Enter 6 digits secret code"
          class="ng-untouched ng-pristine ng-invalid"
      /></label>
    </div>
    <div class="cab-modal__btns">
      <button type="submit" class="m-btn" disabled>Withdrawal</button>
    </div>
  </div>
</form>
